<!DOCTYPE html>
<html>
  <head>
    <title>Realworld</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//demo.productionready.io/main.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
